{{>layouts/header}}
<div style="padding-top: 170px;text-align: center;">
    <h2 style="font-size: 49px; color: #00c473; margin-bottom: 15px">전자출입명부</h2>
    <h2 style="font-size: 25px;">출퇴근을 등록을 위해 QR코드를 찍어주세요</h2>
    <div>
    <img src="/img/qrcode2-removebg-preview.png" style="width: 400px;">
    </div>
</div>