<link rel="stylesheet" href="css/organize.css">
<link  href="js/organize.js">

<div class="all">
    <div style="padding: 17px">
        <div>
            <span class="orT">조직도</span>
            <span style="color: #A2A2A2">총 9명</span>
        </div>
    </div>
    <div style="border-bottom: 1px solid #e5e5e5"></div>
    <div style="padding-right: 17px; padding-left: 17px; padding-top: 17px">
        <div style="position: relative;bottom: 23px;">
            <i class='bx bx-search-alt-2' style='color:#b1abab' ></i>
            <input placeholder="멤버 검색" class="m-search">
        </div>
    </div>
    <div style="height: 5px"></div>
    <div class="memberList" style="padding-left: 17px; padding-right: 17px">
        <div>
            {{#deptList}}
                <div>
                    <span class="depts">{{deptName}}</span>
                    <div style="margin-top: 10px">
                        {{#members}}
                            <div class="member-img">
                                <i class='bx bxs-user-circle' style="font-size: 30px;color:#b1abab"></i>
                                <span style="position: relative; bottom: 8px;left: 8px; font-weight: 600">{{name}}</span>
                            </div>
                            <div style="border-bottom: 1px solid #e5e5e5"></div>
                        {{/members}}
                    </div>
                </div>
            {{/deptList}}
        </div>
    </div>
</div>
