.entire-chat {
    width: 50%;
    height: 70%;
    background-color: #FFFFFF;
    border-radius: 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    margin-top: 5%;
}

.chat-room-name {
    width: 100%;
    height: 50px;
    text-align: center;
    color: #04C85F;
    margin-top: 10px;
    font-size: 30px;
    margin-bottom: 5px;
    font-weight: 500;
}

.chat-container {
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #BACEE0;
}


.speech_bubble {
    position: relative;
    margin: 50px;
    padding: 20px;
    width: auto;
    height: auto;
    color: #000000;
    border-radius: 10px;
    background-color: #FFFFFF;
    max-width: 500px;
    max-height: 200px;
}

.speech_bubble:after {
    content: "";
    position: absolute;
    top: 21px;
    right: -30px;
    border-left: 30px solid #FFFFFF;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}


#messageInput {
    height: 80px;
    width: 90%;
    padding: 10px 20px;
    overflow-y: auto;
    border: none;
    outline: none;
    white-space: pre-wrap;
    word-break: break-word;
}

#messageForm button {
    background-color: #04C85F; /* 배경색 */
    color: #FFFFFF; /* 글자색 */
    border: none; /* 테두리 없애기 */
    padding: 5px; /* 내부 여백 */
    border-radius: 5px; /* 둥근 테두리 */
    cursor: pointer; /* 커서 모양 변경 */
}

#messageForm button:hover {
    background-color: #03693D; /* 마우스 오버시 배경색 변경 */
}

#fileInput {
    display: none; /* 원래 input을 감춤 */
}

.custom-file-upload {
    cursor: pointer;
}

.custom-file-upload img {
    width: 20px; /* 이미지 너비 조절 */
    height: 20px; /* 이미지 높이 조절 */
    margin-right: 5px; /* 이미지와 텍스트 간격 조절 */
}

#fileNameDisplay {
    display: inline-block;
}


#fileForm button {
    background-color: #04C85F; /* 배경색 */
    color: #FFFFFF; /* 글자색 */
    border: none; /* 테두리 없애기 */
    padding: 5px; /* 내부 여백 */
    border-radius: 5px; /* 둥근 테두리 */
    cursor: pointer; /* 커서 모양 변경 */
}

#fileForm button:hover {
    background-color: #03693D; /* 마우스 오버시 배경색 변경 */
}
