<tbody>
{{#members}}
    <tr>
        <td>{{name}}</td>
        {{#dept}}
            <td>{{dept.deptName}}</td>
        {{/dept}}
        <td>{{email}}</td>
        <td>27</td>
        <td>{{registrationTime}}</td>
        <td>$112,000</td>
    </tr>
{{/members}}
</tbody>