
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Noto+Sans+KR:wght@500;600;700&family=Single+Day&display=swap" rel="stylesheet">
</head>

<body>
<!--헤더-->
</div>
<!--내용-->
<form role="form" class="text-start" action="/sendEmail" method="post" name="sendEmail">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
    <div class="nameInput" style="display: flex; flex-wrap: nowrap;justify-content: space-around;">
        <div style="height: 400px; border: 1px solid #d2cfcf;">
            <h1 style="margin: 0 auto;text-align: center;margin-top:50px;position: relative;margin-bottom: 55px;right: 95px;">비밀번호 찾기</h1>

            <div class="rname" style="right: 165px">이메일</div>
            <div style="width: 500px;">
                <div><input placeholder="가입 시 등록한 이메일 입력" class="rinput" name="email" id="userEmail" type="email"></div>
            </div>
            <div class="text-center small mt-2" id="checkMsg" style="color: red"></div>
            <button class="registerButton" type="submit" id="checkEmail">메일 전송</button>
            <div style="margin-top: 15px">
                 <a href="register" style="cursor: pointer; text-decoration: underline; color: black" >로그인 하러가기</a>
            </div>

        </div>
    </div>


</form>

</body>


</html>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>

    $("#checkEmail").click(function (){
        let userEmail = $("#userEmail").val();
        const sendEmail = document.forms["sendEmail"];

        $.ajax({
            type: 'post',
            url: 'sendEmail', // 엔드포인트 경로 수정
            data: {
                'memberEmail': userEmail
            },
            dataType: "text",
            success: function (result) {
                if(result === "success"){
                    alert('임시비밀번호를 전송 했습니다.');
                    sendEmail.submit();
                } else {
                    alert('메일 전송 중 오류가 발생했습니다.');
                }
            },
            error: function () {
                console.log('에러 체크!!');
                alert('서버와 통신 중 오류가 발생했습니다.');
            }
        })});


</script>