<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/js/register.js">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Noto+Sans+KR:wght@500;600;700&family=Single+Day&display=swap" rel="stylesheet">
</head>

<body>
<!--헤더-->
    <div style="margin: 0 auto; background-color: white; height: 50px; border-bottom: #cccccc 1px solid">
    </div>
    <!--내용-->
    <form id="form-register" onsubmit="return false;">
    <div class="nameInput" style="margin-top: 60px">
    <h1 style="margin: 0 auto;text-align: center;margin-top:50px;position: relative;margin-bottom: 55px;right: 124px;">회원가입</h1>

    <div class="rname" style="right: 171px">이름</div>
    <div>
        <div><input placeholder="이름 입력" class="rinput" name="name" id="name"></div>
    </div>

    <div class="rname" style="right:163px " id="en">이메일</div>
        <div><input placeholder="이메일 입력" class="rinput" id="email" name="email"></div>

    <div class="rname" style="right:154px;">비밀번호</div>
        <div>
            <input placeholder="비밀번호 입력" class="rinput" name="password" id="password" type="password"></div>

        <div>
            <input placeholder="비밀번호 확인" class="rinput" id="pc" type="password" onkeyup="validatePassword()">
            <!-- 비밀번호 일치 여부 오류 메시지 -->
            <div id="password-error" style="color: #00c473; margin-bottom: 10px;"></div>
        </div>

    <button class="registerButton" type="submit">회원가입</button>

        <div style="margin-top: 15px">
            이미 가입하셨나요? <a style="cursor: pointer; text-decoration: underline">로그인</a>
        </div>
    </div>
    </form>

</body>
<script>
        {{#valid_email}}
        if ("{{valid_email}}") {
            // input 태그의 테두리 색을 변경
            document.getElementById('email').style.borderColor = '#00c473';
            document.getElementById('email').style.border = '3px solid #00c473';
            document.getElementById('en').style.marginTop= '20px';
        }
        {{/valid_email}}

        {{#valid_name}}
        if ("{{valid_name}}") {
            // input 태그의 테두리 색을 변경
            document.getElementById('name').style.border = '3px solid #00c473';
        }
        {{/valid_name}}

        {{#valid_password}}
        if ("{{valid_password}}") {
            // input 태그의 테두리 색을 변경
            document.getElementById('password').style.border = '3px solid #00c473';
            document.getElementById('pc').style.marginTop= '20px';
        }
        {{/valid_password}}

        function validatePassword() {
        var password = document.getElementById('password').value;
        var confirmPassword = document.getElementById('pc').value;

        // 비밀번호와 비밀번호 확인이 일치하지 않으면 오류 메시지 표시
        if (password !== confirmPassword) {
        document.getElementById('password').style.border = '3px solid #00c473';
        // document.getElementById('pc').style.border = '3px solid #695CFE';
        document.getElementById('password-error').innerText = '비밀번호가 일치하지 않습니다.';
    } else {
        // 일치할 경우 테두리 색 원래대로, 오류 메시지 제거
        document.getElementById('password').style.border = '';
        document.getElementById('pc').style.border = '';
        document.getElementById('password-error').innerText = '';
    }
    }

    (function () {

        document.getElementById('form-register').addEventListener('submit', (event) => {
            fetch('/api/member', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    'name': document.getElementById('name').value,
                    'email': document.getElementById('email').value,
                    'password': document.getElementById('password').value,
                    'authority': 'USER'
                })
            })
                    .then((res) => {
                        console.log('success')
                    })
                    .catch((err) => {
                        console.error('error occured')
                    })
        })
    })();

</script>

</html>