{{>layouts/W1003_header}}
<link href="css/todo.css" rel="stylesheet">
<script src="js/todo.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<div class="todoWrap">
    <div class="todoContainer">
        <div class="tdHeader">
            <h3 style="margin-bottom: 10px">오늘의 할 일 </h3>
            <ul class="nav" id="todoNav">
                <li class="nav-item">
                    <i class='bx bx-list-ul'></i>
                    <a class="nav-link active" data-tab="list" aria-current="page" href="#">리스트</a>
                </li>
                <li class="nav-item">
                    <i class='bx bx-edit-alt'></i>
                    <a class="nav-link" data-tab="write" href="#">작성하기</a>
                </li>
            </ul>
            <div style="display: flex">
                <div class="bb"  id="todoBorder1" ></div>
                <div class="bb"  id="todoBorder2"></div>
            </div>
        </div>
        <input type="text" placeholder="제목을 입력하세요" class="tdTitle" autofocus>
        <div style="border-bottom: 1px solid #f2f1f1; margin-bottom: 15px"></div>
        <div class="tdContent">
            <input type="text" class="tdContentInput" placeholder="할일 추가(Enter 또는 Tab) / 최대 60자">
        </div>
        <div style="border-bottom: 1px solid #f2f1f1; margin-bottom: 15px"></div>
        <div style="display: flex;justify-content: flex-end;">
            <button type="submit" class="tdBtn">작성하기</button>
        </div>
    </div>
</div>
