{{>layouts/W1003_header}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Tables - SB Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="js/scripts.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
<script src="js/datatables-simple-demo.js" type="text/javascript"></script>
<style>
    .datatable-dropdown {
        display: none;
    }
    .datatable-top {
        display: none;
    }
    .datatable-pagination a {
        color: #00c473;
    }
    #searchInput{
        display: block;
        width: 13%;
        margin-bottom: 13px;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.375rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
</style>
<div id="layoutSidenav">

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">관리자 근태내역</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="index.html">권한</a></li>
                    <li class="breadcrumb-item active">ADMIN</li>
                </ol>
                <div class="card mb-4">
                    <div class="card-body">
                       관리자에게만 권한이 부여된 페이지입니다. 관리자가 아닐 시 로그아웃 해주시길 바랍니다.
                    </div>

                </div>
                <div class="card mb-4">
                    <div class="card-header" style="font-weight: bold;color: white; background-color: #00c473;">
                        <i class="fas fa-table me-1"></i>
                        직원근태내역 관리
                    </div>
                    <div class="card-body">
                        <input type="text" id="searchInput" placeholder="검색...">
                        <table id="datatablesSimple">
                            <thead>
                            <tr>
                                <th>이름</th>
                                <th>부서</th>
                                <th>이메일</th>
                                <th>날짜</th>
                                <th>출근 시간</th>
                                <th>퇴근 시간</th>
                                <th>상태</th>
                                <th>총 근무시간</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                            <!-- DB에 불러와서 표시-->
                                <th>이름</th>
                                <th>부서</th>
                                <th>이메일</th>
                                <th>날짜</th>
                                <th>출근 시간</th>
                                <th>퇴근 시간</th>
                                <th>상태</th>
                                <th>총 근무시간</th>
                            </tr>
                            </tfoot>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>

    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
<script src="js/datatables-simple-demo.js"></script>
<script>
    $(document).ready(function () {
        // 화면 로딩 시 초기 데이터 표시
        loadData();
    });

    function loadData() {
        $.ajax({
            type: "GET",
            url: "/workingData",  // 서버에서 데이터를 가져올 엔드포인트 URL
            dataType: "json",
            success: function (data) {
                displayData(data);
            },
            error: function (error) {
                console.log("Error fetching data:", error);
            }
        });
    }

    function displayData(data) {
        var tableBody = $("#workingTableBody");
        tableBody.empty();  // 기존 데이터 비우기

        for (var i = 0; i < data.length; i++) {
            var row = "<tr>";
            row += "<td>" + data[i].memberName + "</td>";
            row += "</tr>" + data[i].checkInTime + "</td>";
            row += "</tr>" + data[i].checkOutTime + "</td>";

            tableBody.append(row);
        }
    }
</script>
</body>
</html>
